@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Asap", system-ui, sans-serif;
  }
}

/****************************** EJEMPLO DE CUSTOM STYLES *************************/
/*
  Este es un ejemplo de cómo funcionan los custom styles.
  Al colocar @apply podemos colocar estilos con la sintaxis de Tailwind
*/

.titulo {
  @apply text-primary-dark font-bold text-2xl;
}

/*
  En el siguiente ejemplo, se aplican los mismos estilos que en el ejemplo de arriba.
*/
.titulo2 {
  color: rgb(226 104 104);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

/*
  igualmente, recomendaría utilizar los estilos de la forma que lo establece Tailwind,
  ya que es una manera más rápida y eficiente para aplicar estilos.
*/
/**********************************************************************************/

.title {
  @apply font-bold text-2xl font-quicksand;
}

.auth-form {
  @apply flex flex-col mx-auto items-center text-left w-full;
}

.btn {
  @apply w-full h-11 rounded-md font-semibold;
}

.btn-primary {
  @apply bg-primary-dark text-white;
}

.btn-secondary {
  @apply border border-primary-dark text-primary-dark;
}

.form-group {
  @apply flex flex-col w-full;
}

.form-input {
  @apply w-full border-b-2 pb-1 border-secondary-light placeholder:text-secondary-regular;
}

.form-error {
  @apply text-primary-dark text-xs inline;
}

.main-container {
  @apply px-16 pb-12 pt-16 min-h-screen min-w-full;
}

.red-label {
  @apply text-primary-dark text-sm font-bold;
}
